.text {
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -moz-box;
    // -moz-box-orient: vertical;
    // display: -webkit-box;
    // -webkit-line-clamp: 5;
    // -webkit-box-orient: vertical;
    // line-clamp: 5;
    // box-orient: vertical;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        z-index: 2;
        pointer-events: none;
          background:linear-gradient(transparent,#fff 80%);
        // background: linear-gradient(#0000, #ffffffed 60%, #ffffffed 30%);
    }
}

.textShort {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    position: relative;
}
